$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #0277bd;
$primary-dark: #004c8c;
$primary-light: #58a5f0;
$on-primary: #ffffff;

$secondary: #f44336;
$secondary-dark: #b90007;
$secondary-light: #ff795d;
$on-secondary: #ffffff;

$error: #b00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;